.img-thumbnail {
    width: 250px;
  }

  .card-body h1{
    font-family: 'Montserrat', sans-serif;
  }

  .card-body p{
    font-family: 'Montserrat', sans-serif;
  }

  .card h4{
    font-family: 'Montserrat', sans-serif; 
  }