.jumbotron-fluid{
    color: white;
      
} 

.bg-image{
    height: 400px;
    margin-top: 58px; 
    background-size: cover;    

    
}

.display-4{
    padding-top: 90px;

    
}



.mask {
    background-color: rgba(0, 0, 0, 0.6);
    height: 400px;
}

.d-flex{
    padding: 20px;
}

.Banner h1{
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 72px;
}

.Banner h2{
    
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 4px;
}

.Banner p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    
}

.card h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    font-weight: 700;
}

.card p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.SearchGame input{
    border-radius: 20px;
}