.jumbotron-fluid{
    color: white;
      
} 

.bg-image{
    height: 400px;
    margin-top: 58px; 
    background-size: cover;
    
}

.display-4{
    padding-top: 90px;
    
}



.mask {
    background-color: rgba(0, 0, 0, 0.6);
    height: 400px;
}



.row{
    padding: 100px;
    margin:20px; 
}

.d-flex{
    padding: 20px;
}

